.bicycle {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}

#bicycle-page .title-content p {
  text-transform: uppercase;
}

.bicycle-image {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.bicycle-image img {
  flex: 1;
  min-width: 200px;
}

.bicycle-image img:first-child {
  min-width: 100%;
}

.bicycle-content>p {
  margin-bottom: 32px;
  color: var(--color-5);
}

.bicycle-content h2 {
  text-transform: uppercase;
  letter-spacing: 0.015em;
  margin-bottom: 12px;
  color: var(--color02);
}

.bicycle-buy {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  justify-items: start;
  gap: 8px 12px;
  margin-bottom: 40px;
}

.bicycle-buy a {
  grid-row: span 2;
}

.bicycle-buy span {
  display: flex;
  align-items: center;
  background-color: var(--color01);
  color: var(--color-5);
  border-radius: 4px;
  padding: 4px 8px;
  gap: 8px;
}

.bicycle-info, .bicycle-datasheet {
  padding: 32px;
  background-color: var(--color01);
  border-radius: 4px;
}

.bicycle-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  margin-bottom: 40px;
  color: var(--color-5);
}

.bicycle-info img {
  width: 24px;
  margin-bottom: 8px;
}

.bicycle-info h3 {
  margin-bottom: 8px;
  color: var(--color02);
}

.bicycle-datasheet li {
  padding: 4px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-11);
  color: var(--color02);
}

.bicycle-datasheet li:last-child {
  border-bottom: none;
}

.bicycle-datasheet span {
  color: var(--color-5);
}

@media(max-width:800px) {
  .bicycle {
    grid-template-columns: 1fr;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .bicycle-image {
    grid-row: 2;
  }
}

@media(max-width:400px) {
  .bicycle-info {
    grid-template-columns: 1fr;
  }

  .bicycle-buy {
    grid-template-columns: 1fr;
  }

}