:root {
	--color01: #000;
	--color02: #fff;

	--color-11: #121212;
	--color-10: #2e2e2e;
	--color-9: #404040;
	--color-8: #595959;
	--color-7: #717171;
	--color-6: #9c9c9c;
	--color-5: #b3b3b3;
	--color-4: #ccc;
	--color-3: #dede;
	--color-2: #ede;
	--color-1: #f7f7f7;
	--color-0: #111111;

	--gradient: linear-gradient(#ffbf00, #f2a50c);
	--p1: #ffbb00;
	--p2: #e4a30b;
	--p3: #a66f00;
	--p4: #664400;
	--p5: #332200;


}

.wh {
	color: var(--color02);
}

.bl {
	color: var(--color01);
}